<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: rgba(61,157,247,1.00);">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">友友精选</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/index/index">首页</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">后台</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/index/girl">美女</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/index/boy">帅哥</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/index/lot">今日缘分</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="/index/userinfo">我的信息</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/index/outlogin">退出登录</a>
          </li>
        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="button">Search</button>
        </form> -->
        <div class="d-flex" style="justify-content: center;align-items: center;margin-right: 10px;color: rgba(255, 255, 255, 0.55);">
            <img src="<%= headPic %>" alt="" width="32px" height="32px" style="border-radius: 50%;margin-right: 20px;">
            <span><%= nickname %></span>
        </div>
      </div>
    </div>
  </nav>